@function borderwidth($input) {
  @each $part in $input {
    @if type-of($part) == number {
      @return true;
    }
  }
  @return false;
}

@function bordercolor($input) {
  @each $part in $input {
    @if type-of($part) == color {
      @return true;
    }
  }
  @return false;
}

@if bordercolor( $border-thickness-thin solid palette( grey )) and borderwidth( $border-thickness-thin solid palette( grey )) {
  .border-thin-light {
  	border:  $border-thickness-thin solid palette( grey )
  }
}

@if bordercolor( $border-thickness-thick solid palette( black )) and borderwidth( $border-thickness-thick solid palette( black )) {
  .border-medium-dark {
  	border:  $border-thickness-thick solid palette( black )
  }
}

@if bordercolor( 0.375rem solid palette( black )) and borderwidth( 0.375rem solid palette( black )) {
  .border-thick-dark {
  	border:  0.375rem solid palette( black )
  }
}

@if bordercolor( 0.1875rem solid palette( black )) and borderwidth( 0.1875rem solid palette( black )) {
  .border-med-dark {
  	border:  0.1875rem solid palette( black )
  }
}

