@if (type-of("/sites/drozthegoodlife/assets/") == color) {
	.siteAssetPath {
  	background-color: "/sites/drozthegoodlife/assets/";
  }
}

@if (type-of(#E9328C) == color) {
	.color-base-pink {
  	background-color: #E9328C;
  }
}

@if (type-of(0.1875rem solid palette( black )) == color) {
	.border-thin-black {
  	background-color: 0.1875rem solid palette( black );
  }
}

@if (type-of(palette( grey, xlight )) == color) {
	.color-bg-lazy {
  	background-color: palette( grey, xlight );
  }
}

@if (type-of($margin-s) == color) {
	.margin-bottom-ad-full-item-image {
  	background-color: $margin-s;
  }
}

@if (type-of(0) == color) {
	.margin-full-item-metadata-spacing {
  	background-color: 0;
  }
}

@if (type-of(translate( 0, -$margin-l )) == color) {
	.transform-collection-breaker-item-title {
  	background-color: translate( 0, -$margin-l );
  }
}

@if (type-of($color-bg-curated-breaker-header) == color) {
	.color-bg-newsletter-outer {
  	background-color: $color-bg-curated-breaker-header;
  }
}

@if (type-of(0 0 $margin-xs) == color) {
	.margin-newsletter-title-dek {
  	background-color: 0 0 $margin-xs;
  }
}

@if (type-of($border-dotted-dark) == color) {
	.border-newsletter {
  	background-color: $border-dotted-dark;
  }
}

@if (type-of(3.125rem) == color) {
	.position-top-footer-social-menu {
  	background-color: 3.125rem;
  }
}

@if (type-of($icon-size-xs) == color) {
	.icon-size-social-button {
  	background-color: $icon-size-xs;
  }
}

@if (type-of($icon-size-xxs) == color) {
	.icon-size-full-item-social-button {
  	background-color: $icon-size-xxs;
  }
}

@if (type-of(1rem 0) == color) {
	.padding-sponsor-bar {
  	background-color: 1rem 0;
  }
}

@if (type-of(0 0 $margin-m) == color) {
	.margin-sponsor-bar {
  	background-color: 0 0 $margin-m;
  }
}

@if (type-of(0.5rem) == color) {
	.margin-bottom-sponsor-bar-label {
  	background-color: 0.5rem;
  }
}

@if (type-of($margin-s 0 0.75rem) == color) {
	.margin-sponsor-inline {
  	background-color: $margin-s 0 0.75rem;
  }
}

@if (type-of(0.5rem) == color) {
	.margin-left-feed-full-item-sponsor-image {
  	background-color: 0.5rem;
  }
}

@if (type-of(1.3rem) == color) {
	.margin-sponsor-inline-logo {
  	background-color: 1.3rem;
  }
}

@if (type-of(0.1rem) == color) {
	.top-sponsor-inline-logo {
  	background-color: 0.1rem;
  }
}

@if (type-of($border-thickness-thin dotted palette( grey, medlight )) == color) {
	.border-related-content {
  	background-color: $border-thickness-thin dotted palette( grey, medlight );
  }
}

@if (type-of(palette( pink )) == color) {
	.color-embed-rating-icon {
  	background-color: palette( pink );
  }
}

@if (type-of(palette( pink )) == color) {
	.youtube-playlist-arrow-button-bg {
  	background-color: palette( pink );
  }
}

@if (type-of(transparentize( palette( pink ), 0.25 )) == color) {
	.youtube-playlist-arrow-button-bg-hover {
  	background-color: transparentize( palette( pink ), 0.25 );
  }
}

@if (type-of(palette( white )) == color) {
	.youtube-playlist-arrow-color {
  	background-color: palette( white );
  }
}

@if (type-of(palette( grey, xxlight )) == color) {
	.color-bg-sponsor-gallery {
  	background-color: palette( grey, xxlight );
  }
}

@if (type-of($margin-xxs) == color) {
	.margin-bottom-longform-header {
  	background-color: $margin-xxs;
  }
}

@if (type-of(palette( green )) == color) {
	.color-valid {
  	background-color: palette( green );
  }
}

@if (type-of(palette( red )) == color) {
	.color-error {
  	background-color: palette( red );
  }
}

@if (type-of(" / ") == color) {
	.image-copyright-credit-DOZimiter {
  	background-color: " / ";
  }
}

